<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.groundswell</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/brad.wood/Projects/groundswell/run.sh</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/brad.wood/Projects/groundswell</string>
    <key>StandardOutPath</key>
    <string>/Users/brad.wood/Projects/groundswell/data/logs/launchd-stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/brad.wood/Projects/groundswell/data/logs/launchd-stderr.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/brad.wood</string>
    </dict>
</dict>
</plist>
